* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    color: #000000;
    background-color: #915c5c;    /* Light gray */
  }
ul {
    list-style-type: square;
}
ol {
    list-style-type: lower-roman;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    padding: 10px;                              /* Add this */
  }
.page {
  width: 800px;
  margin: 0 auto;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:visited:hover {
  color: orange;
}
a:visited:active {
  color: red;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
.horizantalBar {
  display: inline;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  list-style-type: none;
}
.hbarli {
  border-bottom: 1px solid #555;
  display: inline;
  padding: 7px 35px;
  background: white;
  border: 3px solid black;
  font: 300 150% langdon;
}
p:last-of-type {
  margin-bottom: 50px;
}
.button {
  color:white;
  display: inline;
  margin: 30px;
  padding: 7px 35px;
  font: 300 150% langdon;
  background: transparent;
  border: 3px solid black;
  cursor: pointer;
  display:block
}
.title {
  text-emphasis: italic;
  text-decoration: underline;
  color: blue;
  margin-top: 30px;
}
.button:link, .button:visited {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}
img {
  padding: 10px;
  width: 400px;
}